<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.Title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
